*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, "Raleway", "Arial", sans-serif);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: "Raleway", "Arial", sans-serif;
  --accent-font: "STIX Two Text", "Arial", sans-serif;
}

.header {
  padding-top: 10%;
}

.heading {
  font-family: var(--accent-font);
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 2.5%;
}

.content-section {
  padding: 0 5vi;
}

.content__text-block {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
}

.content__blockquote {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 200%;
  margin-bottom: 1.5em;
}

.content__blockquote blockquote {
  width: 75%;
}

.content__list {
  list-style: none;
  padding-left: 0;
}

.content__list li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
}

.content__list li::before {
  position: absolute;
  left: 15px;
  top: 0;
  content: url(/images/marker-light.svg);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}